
 <div>
  <% if @user.profile_image.attached? %>
   <%= image_tag @user.profile_image(100,100) %>
  <% else %>
   <%= image_tag 'no_image', size: "100x100" %>
  <% end %>
   <p><%= @user.name %></p>
   <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>

 <% @books.each do |book| %>
  <div>
    <% if book.user.profile_image.attached? %>
     <p><%= image_tag book.user.profile_image(100,100) %></p>
    <% else %>
     <%= image_tag 'no_image', size: "100x100" %>
    <% end %>
   <p><%= book.title %></p>
   <p><%= book.body %></p>
   <p><%= book.user.name %></p>
   <p></p>
  </div>
<% end %>
