 <% @books.each do |book| %>
  <div>

    <%= image_tag book.get_image %>
    <p><%= image_tag book.user.get_profile_image(100,100) %></p>
   <p><%= image_tag 'no_image.jpg' %></p>
   <p><%= book.title %></p>
   <p><%= book.body %></p>
   <p><%= book.user.name %></p>
   <p></p>
  </div>
 <% end %>
